.reservation-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .space-info, .reservation-details, .user-info, .host-info, .reservation-notes, .payment-info, .agreement {
    margin-bottom: 20px;
  }
  
  .space-info img {
    width: 100%;
    border-radius: 8px;
  }

  .space-info h2, .space-info h3 {

  }
