.loginContainer { display: flex;  }
.loginContainer .leftLogo { width: 50%; display: flex; background: #0090DF; color: #fff;  justify-content: center; align-items: center; }
.loginContainer .leftLogo h2 { font-size: 60px; font-weight: bold;  }


.loginContainer .loginform { width: 50%; padding: 150px 0; }
.loginContainer .loginform > div { max-width: 400px; margin-left: 10%; }
.loginContainer .loginform h2 { font-size: 40px; color: #0090DF; font-weight: 500; margin-bottom: 33px; }
.loginContainer .loginform input { border: 1px solid #D9D9D9; border-radius: 2px; margin-bottom: 15px; }
.loginContainer .loginform input::placeholder { color: #B1B1B1; }
.loginContainer .loginform button { display: block; width: 100%; background: #0090DF; color: #fff; border: 1px solid #0090DF; font-size: 15px; padding: 15px 0; border-radius: 50px; cursor: pointer; margin-top: 38px; }

.loginContainer .loginform > div .joinbox { text-align: center; margin-top: 30px; }
.loginContainer .loginform > div .joinbox a { font-size: 15px; text-decoration: underline; margin: 0 auto; }


.loginContainer .loginform .snsLogin { margin-top: 68px; }
.loginContainer .loginform .snsLogin span { font-size: 18px; font-weight: 600; display: block; margin-bottom: 18px; }
.loginContainer .loginform .snsbtncontainer {  }
.loginContainer .loginform .snsbtncontainer a { margin-right: 12px; }
.loginContainer .loginform .snsbtncontainer a img {  }

.alertmessage { color: #CE4B41; text-align: right; font-size: 13px; }

@media screen and (max-width: 1000px) {
    .loginContainer { display: block;  }
    .loginContainer .leftLogo { display: none; }
    .loginContainer .loginform  { width: 100%; padding: 60px 0; }
    .loginContainer .loginform > div { margin:0 15px; max-width: none; }
    .loginContainer .loginform h2 { font-size: 25px; margin-bottom: 17px;  }
    .loginContainer .loginform .snsLogin { margin-top: 40px; }
    .loginContainer .loginform .snsLogin span { font-size: 16px; }
    .loginContainer .loginform > div .joinbox a { font-size: 13px;  }
    .loginContainer .loginform .snsbtncontainer a img { width: 40px; }
}