.loginContainer { display: flex;  }
.loginContainer .leftLogo { width: 50%; display: flex; background: #0090DF; color: #fff;  justify-content: center; align-items: center; }
.loginContainer .leftLogo h2 { font-size: 60px; font-weight: bold;  }


.loginContainer .loginform { width: 50%; padding: 150px 0; }
.loginContainer .loginform > div { max-width: 400px; margin-left: 10%; }
.loginContainer .loginform h2 { font-size: 40px; color: #0090DF; font-weight: 500; margin-bottom: 33px; }
.loginContainer .loginform input { border: 1px solid #D9D9D9; border-radius: 2px; margin-bottom: 15px; }
.loginContainer .loginform input::placeholder { color: #B1B1B1; }
.loginContainer .loginform button { display: block; width: 100%; background: #0090DF; color: #fff; border: 1px solid #0090DF; font-size: 15px; padding: 15px 0; border-radius: 50px; cursor: pointer; margin-top: 38px; }

.loginContainer .loginform > div .joinbox { text-align: center; margin-top: 30px; }
.loginContainer .loginform > div .joinbox a { font-size: 15px; text-decoration: underline; margin: 0 auto; }


.loginContainer .loginform .snsLogin { margin-top: 68px; }
.loginContainer .loginform .snsLogin span { font-size: 18px; font-weight: 600; display: block; margin-bottom: 18px; }
.loginContainer .loginform .snsbtncontainer {  }
.loginContainer .loginform .snsbtncontainer a { margin-right: 12px; }
.loginContainer .loginform .snsbtncontainer a img {  }

.alertmessage { color: #CE4B41; text-align: right; font-size: 13px; }

@media screen and (max-width: 1000px) {
    .loginContainer { display: block;  }
    .loginContainer .leftLogo { display: none; }
    .loginContainer .loginform  { width: 100%; padding: 60px 0; }
    .loginContainer .loginform > div { margin:0 15px; max-width: none; }
    .loginContainer .loginform h2 { font-size: 25px; margin-bottom: 17px;  }
    .loginContainer .loginform .snsLogin { margin-top: 40px; }
    .loginContainer .loginform .snsLogin span { font-size: 16px; }
    .loginContainer .loginform > div .joinbox a { font-size: 13px;  }
    .loginContainer .loginform .snsbtncontainer a img { width: 40px; }
}




.joinform { padding: 0px 0; max-width: 400px; margin: 0 auto; }
.joinform h2 { font-size: 40px; text-align: center; color: #0090DF; font-weight: bold; margin-bottom: 40px; }
.joinform input { border: 1px solid #D9D9D9; border-radius: 2px;  }
.joinform input::placeholder { color: #B1B1B1; }

.joinform .field {  }
.joinform .field > div { display: flex; }
.joinform .field p { text-align: right; color: #CE4B41;  margin-top: 10px; font-size: 13px;}
.joinform button.checkbutton { width: 35%; margin-left: 10px; background: #B1B1B1; color: #fff; border: none; height: auto; border-radius: 2px; pointer-events: none; }
.joinform button.checkbutton.active { background: #0090DF; cursor: pointer; pointer-events:auto;}
.joinform .field p.good { color: #0090DF;  }

.joinform .password { margin-top: 40px; }
.joinform .password input {margin-bottom: 15px;  }
.joinform .password input:nth-child(2) {  }
.joinform .password span { display: block; text-align: right; color: #B1B1B1; font-size: 13px; }
.joinform .password p { margin-top: 10px; }

.joinform .ectinfo { margin-top: 40px; }
.joinform .ectinfo input { margin-bottom: 10px; }
.joinform .ectinfo span { display: block; text-align: right; color: #B1B1B1; font-size: 13px; }

.joinform .emailContaienr { margin-top: 40px; }
.joinform .emailContaienr .emailput { margin-bottom: 10px; }
.joinform .emailContaienr .emailput input {  }
.joinform .emailContaienr .emailput button {  }

.joinform .emailContaienr .emailcheck { display: block; }
.joinform .emailContaienr .emailcheck > div { position: relative; margin-bottom: 10px; }
.joinform .emailContaienr .emailcheck > div input {  }
.joinform .emailContaienr .emailcheck > div .timer { position: absolute; right: 15px; top: 50%; transform: translate(0 , -50%); color:#999; }


.joinform .emailContaienr .emailcheck .checkbutton { width: 100%; height: 47px;margin: 0; }
.joinform .emailContaienr p {  }

.joinform .profileImage { margin-top: 40px; }
.joinform .profileImage p { font-size: 15px; margin-bottom: 20px; }
.joinform .imgContainer { display: flex; }
.joinform .imgContainer .img_input { width: 32%; }
.joinform .imgContainer .img_input img {border-radius: 50%; border: 1px solid #0090DF; width: 100%; object-fit: cover;max-height: 119px; height:27.5vw ;  }
.joinform .imgContainer .img_input input { display: none; }
.joinform .imgContainer .buttonContainer { margin-left: 20px; width: 70%; display: flex; flex-direction: column; justify-content: center; cursor: pointer; }
.joinform .imgContainer .buttonContainer button { display: block; height: 44px; color: #fff; background-color: #0090DF; border: 1px solid #0090DF;width: 100%; border-radius: 2px; }
.joinform .imgContainer .buttonContainer button:last-child { background: none; color: #0090DF; margin-top: 15px; }

.joinform .nextJoin { margin-top: 70px; }
.joinform .nextJoin button { width: 100%; height: 47px; background: #B1B1B1; color: #fff; border: none; border-radius: 50px; pointer-events: none; }

.joinform .nextJoin button.active { background: #0090DF; pointer-events: auto; }
.joinform .nextJoin p { text-align: center; font-size: 13px; color: #CE4B41;margin-top: 20px; }


@media screen and (max-width: 1000px) {
    /* .joinform h2 { font-size: 30px; margin-bottom: 17px;  } */
    /* .joinform { padding: 50px 0; } */
}