.header {
    display: flex;
    align-items: center; /* 수직 정렬 (중앙 정렬) */
    padding: 10px 30px; /* 필요에 따라 여백 추가 */
    background-color: #f8f8f8; /* 배경색 (원하는 색으로 변경) */
    border-bottom: 1px solid #ddd; /* 하단 경계선 (필요시 추가) */
    height: 50px;
}
.header2{
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    background-color: #f8f8f8; /* 배경색 (원하는 색으로 변경) */
    border-bottom: 1px solid #ddd; /* 하단 경계선 (필요시 추가) */
    align-items: center; /* 수직 정렬 (중앙 정렬) */
    padding: 10px 30px; /* 필요에 따라 여백 추가 */
    color: #0090DF;
    background-color : white;
    font-weight: bold;
    font-size: 18px;
}

.logo1 {
    margin-right: 30px; /* logo1과 logo2 사이의 간격 */
    color: #0090DF;
    font-size: 1.5em;
    font-weight: bold;
}

.logo2 {
    color: #B1B1B1;
}

.left {
    margin-left: auto; /* 오른쪽으로 이동 (필요시 추가) */
}


.loginbtn{
    border-radius: 5%;
    border: none;
    width: 130px;
    height: 40px;
    color: aliceblue;
    background-color: #0090DF;
    font-weight: bold;
    margin-right: 40px;
  }
