/* payment.css */

.header2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-container {
    width: 100%;
    max-width: 600px; /* 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 박스 그림자 추가 */
    background-color: #fff; /* 배경 색상 추가 */
  }
  
  .select-container,
  .input-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .select-container select,
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .select-container select:focus,
  .input-container input:focus {
    border-color: #0056b3; /* 포커스 시 보더 색상 */
    outline: none;
  }
  
  .option-label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
  
  