/* payment.css */

  
  .form-container {
      width: 100%;
      max-width: 600px; /* 최대 너비 설정 */
      margin: 0 auto; /* 가운데 정렬 */
      padding: 20px; /* 패딩 추가 */
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .select-container{
    width: 700px;
  }
  
  .input-container {
    width: 700px;
    margin-top: 10px;
  }
  
  .select-container select,
  .input-container input {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  
  .select-container select:focus,
  .input-container input:focus {
    border-color: #0090DF; /* 포커스 시 보더 색상 */
    outline: none;
  }
  
  .option-label {
    margin-top: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .select{
    margin-top: 10px;
  }
  