/* ν—¤λ” */
.header { padding: 20px 0; background-color: #fff; width: 100%; position: fixed; top: 0; left: 0; box-shadow: 15px 0   15px rgba(0, 0, 0, 0.1); z-index: 4; }
.header .innerContainer { display: flex; justify-content: space-between; align-items: center; padding-top: 0; padding-bottom: 0; }
.header .innerContainer .mo {  }
.header .innerContainer .iconbutton {  cursor: pointer;}
.header .innerContainer .iconbutton > div {  }
.header .innerContainer .iconbutton > div img {  }

.header .innerContainer .logo {  cursor: pointer;}
.header .innerContainer .logo h2 { font-size: 30px; font-weight: bold; color: #0090DF; }

.header .innerContainer .left > div { display: flex; align-items: center; }
.header .innerContainer .left > div .pc { margin-right: 8px; }
.header .innerContainer .left > div .pc > div.fakeInputButton { position: relative; cursor: pointer; border-radius: 50px; overflow: hidden;  }
.header .innerContainer .left > div .pc > div.fakeInputButton p { background: #DDF3FF; padding: 8px 14px; width: 374px; color: #868686; }
.header .innerContainer .left > div .pc > div.fakeInputButton img { position: absolute; right: 14px; top:50%; transform: translate(0 , -50%); }
.header .innerContainer .left > div .iconbutton { margin-left: 10px; cursor: pointer;}
.header .innerContainer .left > div .iconbutton > div { position: relative; }
.header .innerContainer .left > div .iconbutton:last-child > div img { position: relative; top: 1px; }
.header .innerContainer .left > div .iconbutton > div .countbox { position: absolute; right: -10px; top: -10px; width: 17px; height: 17px; background: #0090DF; color: #fff; font-size: 13px; display: flex; align-content: center; justify-content: center; border-radius: 50%; }

/* ν‘Έν„° */
.footer { background: #EBEBEB; padding: 60px 0; }
.footer .innerContainer { display: flex; justify-content: space-between; padding-top: 0; padding-bottom: 0; }
.footer .innerContainer .left {  }
.footer .innerContainer .left .logo { cursor: pointer; }
.footer .innerContainer .left .logo h2 { font-size: 30px; font-weight: bold; }
.footer .innerContainer .left .text { font-size: 14px; margin-top: 8px; }

.footer .innerContainer .right {  }
.footer .innerContainer .right .footer-nav {  }
.footer .innerContainer .right .footer-nav ul { display: flex; }
.footer .innerContainer .right .footer-nav ul li { padding:0 25px; position: relative; }

.footer .innerContainer .right .footer-nav ul li:nth-child(2)::before ,
.footer .innerContainer .right .footer-nav ul li:nth-child(2)::after {  content: ""; display: block; width: 1px; height: 8px; position: absolute; left: 0; top: 50%; transform: translate(0 , -25%); background: #858585; opacity: 0.5;}
.footer .innerContainer .right .footer-nav ul li:nth-child(2)::before { left: auto; right: 0;}
.footer .innerContainer .right .footer-nav ul li:last-child { padding-right: 0; }
.footer .innerContainer .right .footer-nav ul li a { font-size: 13px; color: #000; }
.footer .innerContainer .right p { text-align: right; margin-top: 60px; color: #626262; font-size: 13px; }

@media screen and (max-width: 1000px) {

    .header .innerContainer .logo h2 { font-size: 20px}
    .header .innerContainer .logo {  position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%); }  


    .footer .innerContainer { display: block; }
    .footer .innerContainer .left .logo h2 { font-size: 20px; }

    
    .footer {  padding: 40px 0; }
    .footer .innerContainer .right .footer-nav { margin-top: 30px; }
    .footer .innerContainer .right .footer-nav ul { justify-content: center;}
    .footer .innerContainer .right .footer-nav ul li:last-child { padding-right: 25px; }
    .footer .innerContainer .right p { text-align: left; margin-top: 50px;}

}